        <!-- content navigation -->
        <nav class="bg-gray-100 flex ">
          <!-- open tickets nav -->
          <section aria-labelledby="open-tickets-tabs-label" class="mr-4 focus:outline-none">
            <label id="open-tickets-tabs-label" class="font-semibold block mb-1 text-sm">Tickets Ouvert
              <span class="font-normal text-gray-700">(En cours)</span>
            </label>
            <ul class="flex">
              <li>
                <button class="focus:outline-none focus:bg-yellow-200 p-2 rounded-l-md border border-r-0 bg-white flex flex-col items-center w-24">
                  <p class="font-semibold text-lg">6</p>
                  <p class="text-sm  text-gray-600">
                    T.T.  Auj
                  </p>
                </button>
              </li>
              <li>
                <button class="focus:outline-none focus:bg-yellow-200 p-2 border rounded-r-md bg-white flex flex-col items-center w-24 cursor-pointer">
                  <p class="font-semibold text-lg"><%= @select_tickets.count %></p>
                  <p class="text-sm  text-gray-600">
                    T. Réçus
                  </p>
                </button>
              </li>
            </ul>
          </section>
          <!-- stats nav -->
          <section aria-labelledby="ticket-statistics-tabs-label" class="pb-2">
            <label id="ticket-statistics-tabs-label" class="font-semibold block mb-1 text-sm">Statistiques Tickets
              <span class="font-normal text-gray-700">(Mois)</span></label>
            <ul class="flex">
              <li>
                <button class="focus:outline-none focus:bg-yellow-200 p-2 rounded-l-md border border-r-0 bg-white flex flex-col items-center w-24">
                  <p class="font-semibold text-lg">16</p>
                  <p class=" text-gray-600 text-sm">
                    Bon
                  </p>
                </button>
              </li>
              <li>
                <button class="focus:outline-none focus:bg-yellow-200 p-2 border border-r-0 bg-white flex flex-col items-center w-24">
                  <p class="font-semibold text-lg">2</p>
                  <p class=" text-gray-600 text-sm">
                    Faible
                  </p>
                </button>
              </li>

              <li>
                <button class="focus:outline-none focus:bg-yellow-200 p-2 border rounded-r-md bg-white flex flex-col items-center w-24">
                  <p class="font-semibold text-lg">32</p>
                  <p class=" text-gray-600 text-sm">
                    T. Resolus
                  </p>
                </button>
              </li>
              <li>
                <button class="focus:outline-none focus:bg-yellow-200 p-2 border rounded-r-md bg-white flex flex-col items-center w-24">
                  <p class="font-semibold text-lg"><%= @select_tickets.count %></p>
                  <p class=" text-gray-600 text-sm">
                    T. Totaux
                  </p>
                </button>
              </li>
            </ul>
          </section>
        </nav>