<%= form_with(model: ticket, local: true) do |form| %>
  <% if ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ticket.errors.count, "error") %> a bloqué l'enregistrement de ce ticket
:</h2>

      <ul>
        <% ticket.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= form.label :full_name %>
    <%= form.text_field :full_name %>
  </div>

  <div class="field">
    <%= form.label :service %>
    <%= form.text_field :service %>
  </div>

  <div class="field">
    <%= form.label :montant %>
    <%= form.text_field :montant %>
  </div>

  <div class="field">
    <%= form.label :operation %>
    <%= form.date_select :operation %>
  </div>

  <div class="field">
    <%= form.label :ref_operation %>
    <%= form.number_field :ref_operation %>
  </div>

  <div class="field">
    <%= form.label :ref_facturier %>
    <%= form.number_field :ref_facturier %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :contact %>
    <%= form.number_field :contact %>
  </div>

  

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


