<%= content_for @title="Connectez vous" %>
<!-- component -->
<section class="py-40 bg-gray-100  bg-opacity-50 h-screen">
  <div class="mx-auto container max-w-2xl md:w-3/4 shadow-md">
      
    <div class="bg-white space-y-6">
      <div class="md:inline-flex space-y-4 md:space-y-0 w-full p-4 text-gray-500 items-center">
        <div class="md:w-2/3 max-w-sm mx-auto">
          <!-- USER/ LOGIN-->
            <%= render "shared/accounted/sign_in" %>
        </div>
      </div>
    </div>
  </div>
</section>