
          <!--Export section-->
<div
    x-transition:enter="transform transition-transform duration-300"
    x-transition:enter-start="-translate-x-full"
    x-transition:enter-end="translate-x-0"
    x-transition:leave="transform transition-transform duration-300"
    x-transition:leave-start="translate-x-0"
    x-transition:leave-end="-translate-x-full"
    x-show="isSidebarOpen"
    class="fixed inset-y-0 left-0 z-10 flex-shrink-0 w-64 bg-white border-r-2 border-indigo-100 shadow-lg sm:left-16 rounded-tr-3xl rounded-br-3xl sm:w-72 lg:static lg:w-64"
    >
    <nav x-show="currentSidebarTab == 'linksTab'" aria-label="Main" class="flex flex-col h-full">
        <!-- Logo -->
        <div class="flex items-center justify-center flex-shrink-0 py-10">
            <a href="#">
                <!-- Logo Export -->
                <p class="text-red-500 font-bold text-3xl">Yup App Support</p>
            </a>
        </div>

        <!-- Exports Links -->
        <div class="flex-1 px-4 space-y-2 overflow-hidden hover:overflow-auto">
            <%= link_to root_path,
                class:"flex items-center w-full space-x-2 font-semibold text-white bg-red-600 rounded-lg" do%>
                <span aria-hidden="true" class="p-2 bg-red-700 rounded-lg">
                    <svg
                        class="w-6 h-6" xmlns="http://www.w3.org/2000/svg"
                        fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2"
                            d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"/>
                    </svg>
                 </span>
                <span>Accueil</span>
            <% end %>
            <!-- Export Quotidien Links -->
            <%= link_to root_path,
                 class:"flex items-center space-x-2 text-red-600 transition-colors
                  rounded-lg group hover:bg-red-600 hover:text-white" do %>
                
                <span aria-hidden="true"
                    class="p-2 transition-colors rounded-lg group-hover:bg-red-700 group-hover:text-white">
                    <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg"
                      fill="none" viewBox="0 0 24 24"
                      stroke="currentColor" >

                          <path  stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2"
                            d="M7 21h10a2 2 0 002-2V9.414a1 1 0 00-.293-.707l-5.414-5.414A1 1 0 0012.586 3H7a2 2 0 00-2 2v14a2 2 0 002 2z" />
                    </svg>
                </span>
                <span class="font-semibold font-white">Export Quotidien</span>
            <% end %>
            <!-- Export Hebdo Links -->
            <%= link_to root_path,
                class:"flex items-center space-x-2 text-red-600 transition-colors
                rounded-lg group hover:bg-red-600 hover:text-white" do %>
                
                <span aria-hidden="true"
                    class="p-2 transition-colors rounded-lg group-hover:bg-red-700 group-hover:text-white">
                    <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg"
                      fill="none" viewBox="0 0 24 24"
                      stroke="currentColor" >

                      <path  stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2"
                        d="M7 21h10a2 2 0 002-2V9.414a1 1 0 00-.293-.707l-5.414-5.414A1 1 0 0012.586 3H7a2 2 0 00-2 2v14a2 2 0 002 2z" />
                    </svg>
                </span>
                <span class="font-semibold font-white">Export Hebdo</span>
            <% end %>

            <!-- Export Mensuel Links -->
            <%= link_to root_path,
                 class:"flex items-center space-x-2 text-red-600 transition-colors
                  rounded-lg group hover:bg-red-600 hover:text-white" do %>
                
                <span aria-hidden="true"
                    class="p-2 transition-colors rounded-lg group-hover:bg-red-700 group-hover:text-white">
                    <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg"
                      fill="none" viewBox="0 0 24 24"
                      stroke="currentColor" >

                      <path  stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2"
                        d="M7 21h10a2 2 0 002-2V9.414a1 1 0 00-.293-.707l-5.414-5.414A1 1 0 0012.586 3H7a2 2 0 00-2 2v14a2 2 0 002 2z" />
                    </svg>
                </span>
                <span class="font-semibold font-white">Export Mensuel</span>
            <% end %>
        </div>

        <!-- Export Mensuel Links -->
        <div class="flex-shrink-0 p-4 mt-10">
            <div class="hidden p-2 space-y-6 bg-gray-100 rounded-lg md:block">
                <img aria-hidden="true" class="-mt-10"
                    src="https://raw.githubusercontent.com/kamona-ui/dashboard-alpine/52b4b4abb92ef251f6610be416038b48209d7a81/public/assets/images/undraw_web_developer_p3e5.svg"/>
                  <!-- Messages pre-export-->
                  <p class="text-sm text-black">
                    Vous pouvez<span class="text-base text-black"> exporter</span> toutes les reclamations! <br />
                  </p>
                  <!-- Export alls-->
                  <button
                    class="w-full px-4 py-2 text-center text-white transition-colors bg-red-600 rounded-lg
                     hover:bg-red-700 focus:outline-none focus:ring focus:ring-red-600 focus:ring-offset-2
                      focus:ring-offset-gray-100 font-semibold" >
                    Export total
                  </button>
                </div>

                <button
                  class="w-full px-4 py-2 text-center text-white transition-colors bg-red-600
                   rounded-lg md:hidden hover:bg-red-700 focus:outline-none focus:ring, font-semiblod
                    focus:ring-red-600 focus:ring-offset-2 focus:ring-offset-gray-100">
                  Export total
                </button>
            </div>
        </div>
    </nav>

    <section x-show="currentSidebarTab == 'messagesTab'" class="px-4 py-6">
    <h2 class="text-xl">Messages</h2>

    </section>

    <section x-show="currentSidebarTab == 'notificationsTab'" class="px-4 py-6">
        <h2 class="text-xl">Notifications</h2>
    </section>
</div>