<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <!-- RENDER HEADERS-->
    <%= render "layouts/shared/headers" %>
  </head>

  <body class="bg-red-400">
    <%= yield %>
  </body>
</html>
